# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite build output
dist/

# Express environment variables
backend/.env

# Vite environment variables
.env



# Logs
logs/
*.log

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Production build
build/

# Misc
temp/
